* {
  box-sizing: border-box;
}

html {
  background-color: #e5e9f0;
}

body {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 3em;
  background-color: #eceff4;
  color: #2e3440;
}

h1 {
  color: #3b4252;
  text-align: center;
}

h2 {
  color: #4c566a;
}

table {
  margin: 1em;
  border-spacing: 0;
}

th,
td {
  padding: 0.8em;
  border-bottom: 1px solid #4c566a;
}

/* tr { */
/*   background-color: #e5e9f0; */
/* } */

.main-table-content {
  background-color: #e5e9f0;
}

.main-table-content:hover {
  background-color: #d8dee9;
}

.icon-column {
  background-color: #eceff4;
  border: none;
}

.icon {
  opacity: 0.2;
  cursor: pointer;
}

#new-album-form {
  display: none;
  margin: 1em;
  width: 100%;
}

input {
  height: 2em;
}

.btn--primary {
  background-color: #88c0d0;
  border: none;
  padding: 0.5em;
  margin: 1em;
}

.btn--primary:focus {
  outline: none;
}

#add-button {
  align-self: center;
  width: 50%;
  height: 2.5rem;
  font-size: 1rem;
}
